/*

# global exclude
# folders (packages) can have .pyc files that git will track without this
**/*.pyc

# top-level
!*.py

# folders
!.github/
!emitters/
!parser/
!parsers/
!tests/

# files
!.gitignore
!.python-version
!Dockerfile
!Dockerfile.dockerignore
!LICENSE
!Makefile
!README
!SPEC

# files (or folders) ...
# !tests

